 /* Basic reset */
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
}

/* Navbar styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #333;
}


nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.header-buttons .btn {
    padding: 10px 20px;
    border: none;
    background-color: #555;
    color: #fff;
    cursor: pointer;
    margin-left: 10px;
    text-decoration: none;
}

/* Contact Page Header */
.contact-header {
    text-align: center;
    margin: 50px 0;
}

.contact-header h1 {
    font-size: 3em;
    margin-bottom: 10px;
    color: #333;
}

.contact-header p {
    font-size: 1.2em;
    color: #555;
    margin-bottom: 30px;
}

/* Contact Form */
.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.contact-form {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 50%;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.contact-form input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

.contact-form input[type="submit"]:hover {
    background-color: #555;
}

.contact-form label {
    font-size: 1.1em;
    color: #333;
    margin-bottom: 10px;
    display: block;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
    margin-top: 50px;
}

#navbar-logo {
    width: 30%;
}